.page{
  height:100vh;
  display: flex;
 align-items: center;
  justify-content: center;
  flex-direction: column;
}
.brewery-page{
  background: white;
  display: flex;
  flex-direction: column;
  height:70vh;
  width:45vw;
  padding:10px 5px;
  overflow-y:scroll;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 5px 1px rgb(207, 207, 207);
}
 /* Hide scrollbar for Chrome, Safari and Opera */
 .brewery-page::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.brewery-page {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
.search-input{
  position: relative;
  width: 45vw;
  font-family: 'Raleway';
  border:none;
  border-bottom: 1px black solid;
  border-radius: 10px 10px  0 0;
  font-size: 2vmin;
  padding: 1.5vmin 0.8vmin;
  box-shadow: 0px 0px 5px 0px rgb(207, 207, 207);
}

.search-input:focus, .city-select:focus{
  outline: none;
}
.city-select{
  background-color: rgb(199, 108, 108);
  color:white;
  border-radius: 3px;
  padding:1.5vmin;
  border:none;
  width:40%;
  justify-self: center;
  align-self: center;
}
@media only screen and (max-width:700px) {
  .brewery-page{
      width:70vw;
  }
  .search-input{
    width:70vw;
  }
  
}