.container{
    display:flex;
    justify-content: space-between;
    width:100%;
    max-height:180px;
    padding:10px;
    border-bottom: 1px rgb(186, 186, 186) solid;
    flex-wrap: nowrap;
    flex:1 0 auto;
}

.info-title{
    font-size: 2vmin;
    font-weight: 560;
}
.info a{ 
    color:black;
}
.info ul{
    margin:0;
    transform: translate(-3vmin,0);
}
.info li{
    font-size: 1.8vmin;
    list-style-type:none;
}
.toggle{
    color:gray;
    font-size:4vw;
    cursor:pointer
}
.contact-info{
    margin-left:0.5vw;
    font-size:1vw;
}
@media only screen and (max-width:700px) {

    .info ul{
        transform: translate(-8vw,-20%);
    }
}